.container{
    color: white;
    display: flex;
    flex-direction: column;
}
.top-bar{
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    background-color: chocolate;
}
.icon{
    padding-right: 20px !important;
}
.logo{
    width: 20px;
    padding: 0px;
}
.nav-bar{
    align-items: center;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    
}

.nav-bar ul{
    /* display: flex; */
    list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* background-color: #333333; */
}
.nav-bar ul li{
    margin-right: 20px;
    float: left;
}
.nav-bar ul li a{
    display: block;
    color: white;
    /* text-align: center; */
    /* padding: 16px; */
    text-decoration: none;
}
.nav-bar ul li a:hover{
    background-color: orange;
}
.container div{
    padding: 5px;
}
.body-image{
    display: flex;
    background-image: url(assets/background-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}
.message{
    padding: 20px;
    background-color: black;
    /* display: flex; */
    flex-direction: column;
    color: white;
    /* height: 150px; */
    border-radius: 20px;
    opacity: 0.5;
}

.post-1{
    display: flex;
    font-size: 20px !important;
    
}
.post-2{
    display: flex;
    font-size: 20px !important;
}
.post-3{
    display: flex;
    font-size: 20px !important;
}
.t-1{ 
    align-content: center;
    align-items: center;
    display: flex;
}
.t-2{
    display: flex;
}
.table-2{
    font-size: 20px;
    background-color: light green !important;
}
.footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer .name{
    border-radius: 50px;
    display: flex;
}
input[type=text], select {
    /* width: 100%; */
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    /* width: 100%; */
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit] {
    /* width: 100%; */
    background-color: #4CAF50;
    color: white;
    /* padding: 14px 20px; */
    /* margin: 8px 0; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  @media screen and (width<992px){

    .container{
           
            background-color: blue;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
           

        }
}
@media screen and (width>600px) and (width<992px) {
    .container{
            background-color: aqua;
            text-decoration: underline;
            /* background-image: url(linkdin1.jpg); */

        }
    
}
@media screen and (width<600px) {
    .container{
            background-color: azure;
            text-decoration: line-through;

        }
    }
    @media screen and (width<992px){

        .body-image{
               
                background-color: blue;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
               
    
            }
    }
    @media screen and (width>600px) and (width<992px) {
        .body-image{
                background-color: aqua;
                text-decoration: underline;
                /* background-image: url(linkdin1.jpg); */
    
            }
        
    }
    @media screen and (width<600px) {
        .body-image{
                background-color: azure;
                text-decoration: line-through;
    
            }
        }
        @media screen and (width<992px){

            .table{
                   
                    background-color: blue;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                   
        
                }
        }
        @media screen and (width>600px) and (width<992px) {
            .table{
                    background-color: aqua;
                    text-decoration: underline;
                    /* background-image: url(linkdin1.jpg); */
        
                }
            
        }
        @media screen and (width<600px) {
            .table{
                    background-color: azure;
                    text-decoration: line-through;
        
                }
            }






.latest-posts{
    width: 80%;
    margin: 0 auto;
}

.post-wrapper{
    display: flex;
    flex-direction: row;
    
}

.post-list{
    /* background-color: red; */
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post{
    /* border: 1px black solid; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 15px 14px 19px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 15px 14px 19px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 14px 19px -12px rgba(0,0,0,0.75);
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    
}

.post-image{
    display: flex;
    max-width: 300px;
}

.post-image img{
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.post-description{
    padding: 10px;
}

.category-list{
    /* background-color: green; */
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 30px;
    gap: 32px;
}
.category-list country{
    background-color: #4CAF50;
}
.post-description button{
    float: right;
}
