.container{
    color: white;
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    gap: 1rem;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: grid;
    gap: 1rem;
}
.top-bar{
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    background-color: chocolate;
}
.icon{
    padding-right: 20px !important;
}
.logo{
    width: 20px;
    padding: 0px;
}
.nav-bar{
    align-items: center;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    
}

.nav-bar ul{
    /* display: flex; */
    list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* background-color: #333333; */
}
.nav-bar ul li{
    margin-right: 20px;
    float: left;
}
.nav-bar ul li a{
    display: block;
    color: white;
    /* text-align: center; */
    /* padding: 16px; */
    text-decoration: none;
}
.nav-bar ul li a:hover{
    background-color: orange;
}
.container div{
    padding: 5px;
}
.body-image{
    display: flex;
    background-image: url(assets/background-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}
.message{
    padding: 20px;
    background-color: black;
    /* display: flex; */
    flex-direction: column;
    color: white;
    /* height: 150px; */
    border-radius: 20px;
    opacity: 0.5;
}

.latest-posts{
    width: 80%;
    margin: 0 auto;
}

.post-wrapper{
    display: flex;
    flex-direction: row;
    
}

.post-list{
    /* background-color: red; */
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.post{
    /* border: 1px black solid; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 15px 14px 19px -12px rgba(0,0,0,0.75);
-webkit-box-shadow: 15px 14px 19px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 15px 14px 19px -12px rgba(0,0,0,0.75);
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    
}

.post-image{
    display: flex;
    max-width: 300px;
}

.post-image img{
    min-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.post-description{
    padding: 10px;
}

.post-description button{
    padding: 13px;
    border-radius: 10px;
    background: orangered;
    font-size: 1rem;
    float: right;
}

.category-list{
    /* background-color: green; */
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 30px;
    gap: 32px;
}
.category-list .country{
    border-radius: 45px;
    padding-left: 25px;
    background: grey;
}


.category-list .date{
    border-radius: 45px;
    padding-left: 25px;
    background: rgba(24, 85, 87, 0.508);

}
.destination{
    background: rgba(104, 213, 104, 0.667);
    /* margin: 1rem; */
    padding: 4rem;
}
.destination .title span{
    font-weight: bold;
    font-size: 1.5rem;
}
.content{
    padding: 10px 0;
    gap: 50px;
    display: grid;
}
.destination .content{
    grid-template-columns: repeat(2,1fr);
}
.destination .content .destination-1{
    background: white;
    /* border: 3px solid rgba(61, 243, 207, 0.744); */
    box-shadow: 15px 14px 19px -12px rgba(0,0,0,0.75);
    border-radius: 30px;
}
.destination .content .destination-content{
    text-align: justify;
    padding: 10px;
}
.destination .content .destination-content :nth-child(3){
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 14px;
    text-align: center;
    background: red;
}


.footer{
    font-size: 29px;
    font-weight: bold;
    padding: 5rem;
    background: white;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer .name{
    padding: 1rem;
    border-radius: 50px;
    display: flex;
}
input[type=text], select {
    font-size: 1.5rem;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  input[type=email], select {
    font-size: 1.5rem;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
input[type=submit] {
    font-size: 1.5rem;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }